<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.daily_life.dao.IBoardDAO">
  		<resultMap id="boardResult" type="com.daily_life.model.BoardVO">
			<result property="bNo" column="bNo" />
	        <result property="memEmail" column="memEmail" />
	        <result property="bTitle" column="bTitle" />
	        <result property="bContent" column="bContent" />
	        <result property="bWriteDate" column="bWriteDate" />
	        <result property="feelNo" column="feelNo" />
		</resultMap> 
		
		<!-- 등록 -->
		<insert id="boardInsert" parameterType="com.daily_life.model.BoardVO">
			INSERT INTO board (memEmail, bTitle, bContent, bWriteDate, feelNo)
			VALUES (#{memEmail}, #{bTitle}, #{bContent}, default, #{feelNo})
		</insert>
		
		<!-- 수정 -->
		<update id="boardUpdate" parameterType="com.daily_life.model.BoardVO">
			UPDATE board 
			SET bTitle=#{bTitle}, bContent=#{bContent}, feelNo=#{feelNo}
			WHERE bNo=#{bNo}
		</update>		
		
		<!-- 삭제 -->
		<delete id="boardDelete"  parameterType="int">
			DELETE FROM board WHERE bNo=#{bNo} 
		</delete>
		
  		<!--  전체 목록 조회 -->
	  	<select id="boardList" resultMap="boardResult">	  	  		
				SELECT * FROM board ORDER BY bWriteDate DESC

		</select>
		
		<!-- 상세 정보 조회 -->
		<select id="boardDetail" parameterType="int" resultType="com.daily_life.model.BoardVO">							  
			SELECT * FROM board WHERE bNo=#{bNo} 		
		</select>
		
		<!-- 작성자 닉네임 불러오기 -->
		<select id="boardMemberNick" parameterType="String" resultType="String">							  
			SELECT memNick FROM member WHERE memEmail=#{memEmail} 		
		</select>
		
		<!-- 기분 타입명 불러오기 ( 기쁨, 행복 ... ) -->
		<select id="boardFeelType" parameterType="int" resultType="String">							  
			SELECT feelType FROM feel WHERE feelNo=#{feelNo} 		
		</select>
		
		<!-- 기분 이미지 불러오기 ( 이미지 파일명 ) -->
		<select id="boardFeelIcon" parameterType="int" resultType="String">							  
			SELECT feelIcon FROM feel WHERE feelNo=#{feelNo} 		
		</select>		
   </mapper>
   
   
   